<a href="https://colab.research.google.com/github/angelzhangg/sqlite_dataexploration/blob/main/SQLITE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sqlite3

In [3]:
# Load dataset
df = pd.read_csv('https://data-lakecountyil.opendata.arcgis.com/api/download/v1/items/3e0c1eb04e5c48b3be9040b0589d3ccf/csv?layers=8')
print(df)
print(df.columns)

    OBJECTID                  NAME  Obesity   Shape__Area  Shape__Length
0          1                 Texas     32.4  7.672329e+12   1.540832e+07
1          2            California     24.2  5.327809e+12   1.451870e+07
2          3              Kentucky     34.6  1.128830e+12   6.346699e+06
3          4               Georgia     30.7  1.652980e+12   5.795596e+06
4          5             Wisconsin     30.7  1.567816e+12   6.806782e+06
5          6                Oregon     30.1  3.178446e+12   7.976011e+06
6          7              Virginia     29.2  1.158804e+12   7.710804e+06
7          8             Tennessee     33.8  1.177054e+12   6.350377e+06
8          9             Louisiana     36.2  1.355094e+12   7.383857e+06
9         10              New York     25.0  1.411441e+12   7.981383e+06
10        11              Michigan     31.2  1.657222e+12   1.240799e+07
11        12                 Idaho     28.6  2.593598e+12   9.081125e+06
12        13               Florida     26.8  1.674411e+12   1.053393e+07
13        14                Alaska     29.8  5.301139e+11   6.663727e+06
14        15               Montana     23.6  4.371466e+12   9.745472e+06
15        16             Minnesota     26.1  2.367875e+12   8.530250e+06
16        17              Nebraska     31.4  2.207444e+12   6.921600e+06
17        18            Washington     26.4  2.214215e+12   7.508967e+06
18        19                  Ohio     29.8  1.158016e+12   5.015485e+06
19        20              Illinois     30.8  1.571568e+12   6.172531e+06
20        21              Missouri     32.4  1.949021e+12   7.165633e+06
21        22                  Iowa     32.1  1.575589e+12   5.558145e+06
22        23          South Dakota     30.4  2.199053e+12   6.680911e+06
23        24              Arkansas     34.5  1.488699e+12   5.707634e+06
24        25           Mississippi     35.6  1.327853e+12   5.834202e+06
25        26              Colorado     20.2  3.066879e+12   7.092296e+06
26        27        North Carolina     30.1  1.495756e+12   6.714056e+06
27        28                  Utah     24.5  2.614281e+12   6.798973e+06
28        29              Oklahoma     33.9  1.982449e+12   7.857120e+06
29        30               Wyoming     29.0  2.897400e+12   6.860971e+06
30        31         West Virginia     35.6  6.851674e+11   5.374280e+06
31        32               Indiana     31.3  1.010364e+12   4.858882e+06
32        33         Massachusetts     24.3  2.472250e+11   4.197218e+06
33        34                Nevada     26.7  3.564354e+12   8.240795e+06
34        35           Connecticut     25.3  1.454219e+11   1.780631e+06
35        36  District of Columbia     22.1  1.972102e+09   2.003250e+05
36        37          Rhode Island     26.0  3.617808e+10   9.845246e+05
37        38               Alabama     35.6  1.442807e+12   5.750658e+06
38        39           Puerto Rico     29.5  1.147839e+11   2.136273e+06
39        40        South Carolina     31.7  8.782704e+11   4.370941e+06
40        41                 Maine     30.0  9.903849e+11   5.560035e+06
41        42                Hawaii     22.7           NaN            NaN
42        43               Arizona     28.4  3.562686e+12   8.044184e+06
43        44            New Mexico     28.8  3.622933e+12   8.075167e+06
44        45              Maryland     28.9  3.039432e+11   5.850363e+06
45        46              Delaware     29.7  5.908110e+10   1.383604e+06
46        47          Pennsylvania     30.0  1.288452e+12   5.024348e+06
47        48                Kansas     34.2  2.340366e+12   6.540498e+06
48        49               Vermont     25.1  2.789313e+11   2.653732e+06
49        50            New Jersey     25.6  2.246065e+11   2.599119e+06
50        51          North Dakota     31.0  2.013152e+12   5.872756e+06
51        52         New Hampshire     26.3  2.705294e+11   2.674767e+06
Index(['OBJECTID', 'NAME', 'Obesity', 'Shape__Area', 'Shape__Length'], dtype='object')

In [4]:
# Create SQLite database
conn = sqlite3.connect('healthcare.db')

In [5]:
# Load dataframe into SQLite
df.to_sql('health_data', conn, if_exists='replace', index=False)

52

In [6]:
# Query 1 Select all records from the column "NAMES" AND "OBESITY"
query_1 = "SELECT NAME, OBESITY FROM health_data"
result_df = pd.read_sql(query_1, conn)
print(result_df)

                    NAME  Obesity
0                  Texas     32.4
1             California     24.2
2               Kentucky     34.6
3                Georgia     30.7
4              Wisconsin     30.7
5                 Oregon     30.1
6               Virginia     29.2
7              Tennessee     33.8
8              Louisiana     36.2
9               New York     25.0
10              Michigan     31.2
11                 Idaho     28.6
12               Florida     26.8
13                Alaska     29.8
14               Montana     23.6
15             Minnesota     26.1
16              Nebraska     31.4
17            Washington     26.4
18                  Ohio     29.8
19              Illinois     30.8
20              Missouri     32.4
21                  Iowa     32.1
22          South Dakota     30.4
23              Arkansas     34.5
24           Mississippi     35.6
25              Colorado     20.2
26        North Carolina     30.1
27                  Utah     24.5
28              Oklahoma     33.9
29               Wyoming     29.0
30         West Virginia     35.6
31               Indiana     31.3
32         Massachusetts     24.3
33                Nevada     26.7
34           Connecticut     25.3
35  District of Columbia     22.1
36          Rhode Island     26.0
37               Alabama     35.6
38           Puerto Rico     29.5
39        South Carolina     31.7
40                 Maine     30.0
41                Hawaii     22.7
42               Arizona     28.4
43            New Mexico     28.8
44              Maryland     28.9
45              Delaware     29.7
46          Pennsylvania     30.0
47                Kansas     34.2
48               Vermont     25.1
49            New Jersey     25.6
50          North Dakota     31.0
51         New Hampshire     26.3

In [7]:
# Query 2 Count number of records for certain condition, Count the number of records showing OBESITY RATES OF 30 AND HIGHER
query_2 = 'SELECT NAME, OBESITY FROM health_data WHERE OBESITY > 25'
result_df = pd.read_sql(query_2, conn)
print(result_df)

              NAME  Obesity
0            Texas     32.4
1         Kentucky     34.6
2          Georgia     30.7
3        Wisconsin     30.7
4           Oregon     30.1
5         Virginia     29.2
6        Tennessee     33.8
7        Louisiana     36.2
8         Michigan     31.2
9            Idaho     28.6
10         Florida     26.8
11          Alaska     29.8
12       Minnesota     26.1
13        Nebraska     31.4
14      Washington     26.4
15            Ohio     29.8
16        Illinois     30.8
17        Missouri     32.4
18            Iowa     32.1
19    South Dakota     30.4
20        Arkansas     34.5
21     Mississippi     35.6
22  North Carolina     30.1
23        Oklahoma     33.9
24         Wyoming     29.0
25   West Virginia     35.6
26         Indiana     31.3
27          Nevada     26.7
28     Connecticut     25.3
29    Rhode Island     26.0
30         Alabama     35.6
31     Puerto Rico     29.5
32  South Carolina     31.7
33           Maine     30.0
34         Arizona     28.4
35      New Mexico     28.8
36        Maryland     28.9
37        Delaware     29.7
38    Pennsylvania     30.0
39          Kansas     34.2
40         Vermont     25.1
41      New Jersey     25.6
42    North Dakota     31.0
43   New Hampshire     26.3

In [8]:
# Query 3 Group the data by a specific column and ROW
query_3 = """
SELECT NAME, (OBESITY) AS average_obesity
FROM health_data
WHERE NAME in ("Florida", "Arizona")
"""
result_df = pd.read_sql(query_3, conn)
print(result_df)

      NAME  average_obesity
0  Florida             26.8
1  Arizona             28.4

In [87]:
# Query 4: Sort the records based on the top 5 OBESITY RATES
query_4 = """
SELECT NAME, OBESITY
FROM health_data
ORDER BY OBESITY DESC
LIMIT 5;
"""
result_df = pd.read_sql(query_4, conn)
print(result_df)

            NAME  Obesity
0      Louisiana     36.2
1    Mississippi     35.6
2  West Virginia     35.6
3        Alabama     35.6
4       Kentucky     34.6

In [88]:
# Closing the connection
conn.close()